<% provide(:title, 'Home') %>

<div class="topMenu">

    <div class="button">Premium</div>
    
    <div class="tabTop"><i class="icon-reorder large white"></i></div>
    
    <div class="textTop"><i class="icon-user large"></i> marcjohnboanas</div>

</div>

<div class="navBar">

    <div class="searchForm">
    <input type="text" class="searchbox" placeholder="Search help topics"></input>
    <button class="search"><i class="icon-search"></i></button>
    </div>
    
    <div class="topnavTopics">
   
    <a id="sideDashboard">Dashboard</a> |

    <a id="sideIncome">Add New Income</a> |
    
    <a id="sideExpenses">Add New Expenses</a> |
    
    <a id="sideClients">Add New Clients</a> |
    
    <a id="sideReceipts">View Receipts</a> |
    
    <a id="sideReports">View Year-End Accounts</a>
    
    </div>

</div>

<% if false %>

<div class="sideMenu">

    <div class="header"></div>

    <div class="footer"></div>
    
</div>

<% end %>

<div class="sideDashboard side active">

    <div class="header"><i class="icon-double-angle-down"></i>Dashboard</div>
    
    <div class="alert"></div>
    
    <div class="dashboardMenu"></div>
    
    <div class="dashboardMenu">
    
    <ul>
    <li><a>April 2013 - March 2014</a></li>
    <li></li>
    <li><a>April 2013</a></li>
    <li><a>May 2013</a></li>
    <li><a>June 2013</a></li>
    <li><a>July 2013</a></li>
    <li><a>August 2013</a></li>
    <li><a>September 2013</a></li>
    <li><a>October 2013</a></li>
    <li><a>November 2013</a></li>
    <li><a>December 2013</a></li>
    <li><a>January 2014</a></li>
    <li><a>February 2014</a></li>
    <li><a>March 2014</a></li>
    </ul>

    </div>

    <div class="footer"></div>

</div>

<div class="sideNotes side">

    <div class="header"><i class="icon-double-angle-down"></i>Notes</div>
    
    <div class="alert"></div>

    <div class="noteSummary" id="1">
    </div>
    
    <div class="noteSummary" id="2">
    </div>  
    
    <div class="noteSummary" id="3">
    </div>  
    
    <div class="noteSummary" id="4">
    </div>  
    
    <div class="noteSummary" id="5">
    </div>  
    
    <div class="noteSummary" id="6">
    </div>  
    
    <div class="noteSummary" id="7">
    </div>  
    
    <div class="noteSummary" id="8">
    </div>  
    
    <div class="noteSummary" id="9">
    </div>  
    
    <div class="noteSummary" id="10">
    </div>  
    
    <div class="noteSummary" id="11">
    </div>  
    
    <div class="noteSummary" id="12">
    </div>  
    
    <div class="noteSummary" id="13">
    </div>  
    
    <div class="noteSummary" id="14">
    </div>  
    
    <div class="noteSummary" id="15">
    </div>  
    
    <div class="noteSummary" id="16">
    </div>  
    
    <div class="noteSummary" id="17">
    </div>  
    
    <div class="noteSummary" id="18">
    </div>  
    
    <div class="noteSummary" id="19">
    </div>  
    
    <div class="noteSummary" id="20">
    </div>  
    
    <div class="noteSummary" id="21">
    </div>  
    
    <div class="noteSummary" id="22">
    </div>
    
    <div class="noteSummary" id="23">
    </div>
    
    <div class="noteSummary" id="24">
    </div>
    
    <div class="noteSummary" id="25">
    </div>
    
    <div class="noteSummary" id="26">
    </div>

    <div class="footer"></div>

</div>

<div class="sideReceipts side">

    <div class="header"><i class="icon-double-angle-down"></i>Receipts</div>
    
    <div class="alert"></div>
    
    <div class="receiptSummary" id="1">
    </div>
    
    <div class="receiptSummary" id="2">
    </div>

    <div class="receiptSummary" id="3">
    </div>
    
    <div class="receiptSummary" id="4">
    </div>
    
    <div class="receiptSummary" id="5">
    </div>
    
    <div class="receiptSummary" id="6">
    </div>
    
    <div class="receiptSummary" id="7">
    </div>
    
    <div class="receiptSummary" id="8">
    </div>
    
    <div class="receiptSummary" id="9">
    </div>
    
    <div class="receiptSummary" id="10">
    </div>
    
    <div class="receiptSummary" id="11">
    </div>
    
    <div class="receiptSummary" id="12">
    </div>
    
    <div class="receiptSummary" id="13">
    </div>
    
    <div class="receiptSummary" id="14">
    </div>
    
    <div class="receiptSummary" id="15">
    </div>

    <div class="footer"></div>

</div>

<div class="sideInvoices side">

    <div class="header"><i class="icon-double-angle-down"></i>Invoices</div>
    
    <div class="alert"></div>
    
    <div class="invoiceSummary" id="1">
    </div>
    
    <div class="invoiceSummary" id="2">
    </div>
    
    <div class="invoiceSummary" id="3">
    </div>
    
    <div class="invoiceSummary" id="4">
    </div>
    
    <div class="invoiceSummary" id="5">
    </div>
    
    <div class="invoiceSummary" id="6">
    </div>
    
    <div class="invoiceSummary" id="7">
    </div>
    
    <div class="invoiceSummary" id="8">
    </div>
    
    <div class="invoiceSummary" id="9">
    </div>
    
    <div class="invoiceSummary" id="10">
    </div>
    
    <div class="invoiceSummary" id="11">
    </div>
    
    
    <div class="footer"></div>

</div>

<div class="sideIncome side">

    <div class="header"><i class="icon-double-angle-down"></i>Income</div>
    
    <div class="alert"></div>
    
    <div class="formContainer">
    
    <form>
    
    <input type="text" placeholder="Date"></input>
    
    <select>
    <option value="" disabled selected>Select Pupil</option>
    <option>Hello</option>
    </select>
    
    <input type="text" placeholder="Amount"></input>
    
    <textarea placeholder="Add notes here.."></textarea>
    
    <select>
    <option value="" disabled selected>Select Payment Type</option>
    <option>Cash</option>
    <option>Credit</option>
    <option>Card Payment</option>
    <option>Cheque</option>
    <option>Other</option>
    <option>None</option>
    </select>
    
    <input type="file" name="datafile" size="40">

    <button>Submit</button>
    <button class="cancel">Cancel</button>
    
    </form>
    
    </div>

    <div class="footer"></div>

</div>

<div class="sideExpenses side">

    <div class="header"><i class="icon-double-angle-down"></i>Expenses</div>
    
    <div class="alert"></div>
    
    <div class="formContainer">
    
    <form>
    
    <input type="text" placeholder="Date"></input>
    
    <select>
    <option value="" disabled selected>Expense Type</option>
    <option>Fuel</option>
    <option>Car</option>
    <option>Marketing</option>
    <option>Other</option>
    </select>

    <input type="text" placeholder="Amount"></input>  
    
        <textarea placeholder="Add notes here.."></textarea>
    
    <select>
    <option value="" disabled selected>Select Payment Type</option>
    <option>Cash</option>
    <option>Credit</option>
    <option>Card Payment</option>
    <option>Cheque</option>
    <option>Other</option>
    <option>None</option>
    </select>
    
    <input type="file" name="datafile" size="40">

    <button>Submit</button>
    <button class="cancel">Cancel</button>
    
    </form>

    </div>

    <div class="footer"></div>

</div>

<div class="sideClients side">

    <div class="header"><i class="icon-double-angle-down"></i>Clients</div>
    
    <div class="alert"></div>

    <div class="formContainer">
    
    <form>
    
    <input type="text" placeholder="Name"></input>

    <input type="text" placeholder="House Name or Number"></input>
    
    <input type="text" placeholder="Postcode"></input>
    
    <input type="text" placeholder="Phone Number"></input>
    
    <input type="text" placeholder="Email"></input>
    
    <button>Submit</button>
    <button class="cancel">Cancel</button>

    </form>
    
    </div>

    <div class="footer"></div>

</div>

<div class="sideReports side">

    <div class="header"><i class="icon-double-angle-down"></i>Reports</div>
    
    <div class="alert"></div>

    <div class="footer"></div>

</div>

<div class="sideBar">

<i id="sideDashboard" class="icon-bar-chart sidebarItem active"><div class="tooltip">Dashboard</div></i>

<i id="sideNotes" class="icon-edit sidebarItem"><div class="tooltip">Notes</div></i>

<i id="sideReceipts" class="icon-folder-open-alt sidebarItem"><div class="tooltip">Receipts</div></i>

<i id="sideInvoices" class="icon-envelope sidebarItem"><div class="tooltip">Invoices</div></i>

<i id="sideIncome" class="icon-money sidebarItem"><div class="tooltip">Income</div></i>

<i id="sideExpenses" class="icon-credit-card sidebarItem"><div class="tooltip">Expenses</div></i>

<i id="sideClients" class="icon-group sidebarItem"><div class="tooltip">Clients</div></i>

<i id="sideReports" class="icon-tasks sidebarItem"><div class="tooltip">Reports</div></i>

</div>

<div class="mainWindow">

    <% if false %>

    <div class="header main"></div>
    
    <div class="header main"></div>
    
    <% end %>

    <div class="page complete">
    
        <div class="actionsBlock">
        
        <i class="icon-print"> Print</i> | <i class="icon-file-alt"> Save as PDF</i> | <i class="icon-download-alt"> Export to Excel</i>
        
        
        </div>
    
        <div class="table incomeTable">
            
            <div class="tableRow">Income <i class="icon-money"></i></div>
            
            <div class="tableRow">

            <div class="tableCell headerCell">Date <i class="icon-double-angle-up"></i></div>
            <div class="tableCell headerCell">Pupil <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell long">Notes</div>
            <div class="tableCell headerCell">Payment <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell">Amount <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell last">Select</div>

            </div>
            
            <div class="tableRow" name="1">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£44</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="1"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="2">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="2"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="3">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="3"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="4">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="4"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="5">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="5"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="6">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="6"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="7">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="7"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="8">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="8"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="9">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="9"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="10">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="10"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="11">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Sarah Levitt</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£40</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="11"></i><i class="icon-envelope tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableFooter">
            
            <div class="tableCell"></div>
            <div class="tableCell"></div>
            <div class="tableCell long"></div>
            <div class="tableCell"></div>
            <div class="tableCell">£440</div>
            <div class="tableCell last">
            <%= button_tag(:type => 'submit', :class => 'tableButton') do %>
            <i class="icon-trash buttonIcon"> Delete</i>
            <% end %>
            
            </div>
            
            </div>

        </div>
        
        <div class="table expenseTable">
            
            <div class="tableRow">Expenses <i class="icon-credit-card"></i></div>

            <div class="tableRow">
            
            <div class="tableCell headerCell pointer">Date <i class="icon-double-angle-up"></i></div>
            <div class="tableCell headerCell pointer">Exp. Type <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell long">Notes</div>
            <div class="tableCell headerCell pointer">Payment <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell pointer">Amount <i class="icon-double-angle-down"></i></div>
            <div class="tableCell headerCell last">Select</div>
            
            </div>
            
            <div class="tableRow" name="1">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="12"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>

            <div class="tableRow" name="2">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="13"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="3">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="14"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="4">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="15"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="5">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="16"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="6">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="17"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="7">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="18"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="8">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="19"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="9">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="20"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="10">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="21"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="11">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="22"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="12">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="23"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="13">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="24"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="14">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="25"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            <div class="tableRow" name="15">
            
            <div class="tableCell">1st Sep 2013</div>
            <div class="tableCell">Fuel</div>
            <div class="tableCell long">123456789123456789...</div>
            <div class="tableCell">Cash</div>
            <div class="tableCell">£20</div>
            <div class="tableCell last"><i class="icon-edit tableIcon" id="26"></i><i class="icon-folder-open-alt tableIcon"></i><input type="checkbox" class="tableCheckbox"></input></div>
            
            </div>
            
            
            <div class="tableFooter">
            
            <div class="tableCell"></div>
            <div class="tableCell"></div>
            <div class="tableCell long"></div>
            <div class="tableCell"></div>
            <div class="tableCell">£300</div>
            <div class="tableCell last">
            <%= button_tag(:type => 'submit', :class => 'tableButton') do %>
<i class="icon-trash buttonIcon"> Delete</i>
<% end %>
            
            
            </div>
            
            </div>

        </div>
    
    <div class="pageBefore">
    
        <div class="monthMenu left">
        
        <i class="icon-angle-left active"></i><div class="month">August</div>
        
        <i class="icon-angle-left"></i><div class="month">July</div>
        
        <i class="icon-angle-left"></i><div class="month">June</div>
        
        <i class="icon-angle-left"></i><div class="month">May</div>
        
        <i class="icon-angle-left"></i><div class="month">April</div>
        
        </div>
    
    </div>
    

        <div class="controls">
        
            <div class="date"><i class="icon-calendar"></i> September, 2013</div>
            
            <div class="access"><i class="icon-lock"></i></div>
            
            <div class="access active"><i class="icon-unlock"></i></div>
            
            <div class="completeTick"><i class="icon-check-empty"></i></div>
        
        </div>
        
        <div class="pageFooter">
        
        <form>
        
        <span class="hintText"><span>
        
        <select>
        
         <option value="" disabled selected>Select Account Status..</option>
        
        <option>September 2013 Complete</option>
        
        <option>September 2013 NOT Complete</option>
        
        </select>

        </form>
        
        </div>
        
    <div class="pageAfter">
    
        <div class="monthMenu right">
        
        <i class="icon-angle-right right active"></i><div class="month right">October</div>
        
        <i class="icon-angle-right right"></i><div class="month right">November</div>
        
        <i class="icon-angle-right right"></i><div class="month right">December</div>
        
        <i class="icon-angle-right right"></i><div class="month right">January</div>
        
        <i class="icon-angle-right right"></i><div class="month right">February</div>
        
        <i class="icon-angle-right right"></i><div class="month right">March</div>
        
        </div>
    
    </div>

    </div>

</div>

<div class="dropMenu">

    <%= link_to( root_path ) do %>
    
    <div class="menuOption">Home</div>
    
    <% end %>
    
    <%= link_to( settings_path ) do %>
    
    <div class="menuOption">Settings</div>
    
    <% end %>
    
    <%= link_to( settings_path ) do %>
        
    <div class="menuOption last">Logout</div>
    
    <% end %>
    
</div>

<div class="backtoTop"><i class="icon-arrow-up"></i></div>
